/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2017, 09:08:47
    Author     : Victor
*/

body
{
    background: url(../img/background.png) no-repeat center /cover fixed;
}

.table-condensed > tr, td
{
    padding: 0 !important;
}

.img_avatar
{
    height: 50px !important;
}

.main_content
{
    margin-bottom: 60px;
}